
@media (max-width: 1200px) {
  html,
  body {
    overflow-x: hidden;
  }
}
  @media (max-width: 546px) {
    html{
      font-size: 55%;
  }
  body{
      padding: 0;
  } 
header{
  left: 120%;
}
header.active{
  left: 0;
}
body #menu-bars{
  display: flex;
}
  }

@media (max-width: 392px){
  html{
    font-size: 55%;
}
header{
  width: 100%;
}
}